<h2>Waterbody Details</h2>

{% if water_params %}
    <table class="table">
        <tr>
            <th>Habitation</th>
            <td>{{ water_params.habitation }}</td>
        </tr>
        <tr>
            <th>Name of Pond</th>
            <td>{{ water_params.hydrologicParamaters.nameOfPond }}</td>
        </tr>
        <tr>
            <th>Water Spread Area</th>
            <td>{{ water_params.hydrologicParamaters.waterSpreadArea }}</td>
        </tr>
        <!-- Add more fields as needed -->
    </table>
{% else %}
    <p>No water parameters available.</p>
{% endif %}
